.topimg {
  /* background-image: url("https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80"); */
  background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=90369b1af3c31e8d54930b1eab8adc35");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.7; */
}
.bolder {
  font-weight: 700;
  letter-spacing: 0.3rem;
  font-size: 2rem;
}
.hello,
.bolder,
.wellcome {
  font-weight: 700;
  color: rgb(255, 255, 255);
  letter-spacing: 0.3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
